@page "/"
@using Chirp.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var authorName = User.FindFirst("Name")?.Value ?? "User";
    @inject SignInManager<Author> SignInManager
}

<div>
    <h2> Public Timeline </h2>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="cheepbox">
            <h3>What's on your mind @authorName?</h3>
            <form method="post">
                <input style="float: left" type="text" asp-for="Text" maxlength="160">
                <input type="submit" value="Share">
            </form>
        </div>
    }

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li style="position: relative;"> 
                    <p class="cheep">
                        <div>
                            <strong>
                                <a href="/@cheep.AuthorDTO">@cheep.AuthorDTO</a>
                            </strong>
                            @if (SignInManager.IsSignedIn(User) && authorName.ToString() != @cheep.AuthorDTO)
                            {
                                @if (Model.followedAuthors.Any(a => a.Name == cheep.AuthorDTO))
                                {
                                    <form method="Post" asp-page-handler="Unfollow" asp-route-followAuthorName="@cheep.AuthorDTO" style="display:inline;">
                                        <button type="submit"style="padding: 2px 5px; height: 18px; width: auto;">Unfollow</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="Post" asp-page-handler="Follow" asp-route-followAuthorName="@cheep.AuthorDTO" style="display:inline;">
                                        <button type="submit"style="padding: 2px 5px; height: 18px; width: auto;">Follow</button>
                                    </form>
                                }
                            }
                        </div>
                        @cheep.Text
                        <br/>
                        <small>&mdash; @cheep.TimeStamp</small>
                        @if (SignInManager.IsSignedIn(User) && authorName.ToString() != @cheep.AuthorDTO) //Like button
                        {
                            if (cheep.AuthorDTO != null && cheep.Text != null && cheep.TimeStamp != null)
                            {
                                <div class="like-button-container">
                                    @if (await Model.DoesUserLikeCheep(@cheep.AuthorDTO, @cheep.Text, @cheep.TimeStamp, @cheep.Likes))
                                    {
                                        <form method="Post" asp-page-handler="UnLike">
                                            <input type="hidden" name="AuthorDTO" value="@cheep.AuthorDTO" />
                                            <input type="hidden" name="Text" value="@cheep.Text" />
                                            <input type="hidden" name="TimeStamp" value="@cheep.TimeStamp" />
                                            <input type="hidden" name="Likes" value="@cheep.Likes" />
                                            <button class="like-button-liked">
                                                <span class="heart">&#x2764;</span>
                                            </button>
                                        </form>
                                    }
                                    else
                                    {
                                        <form method="Post" asp-page-handler="Like">
                                            <input type="hidden" name="AuthorDTO" value="@cheep.AuthorDTO" />
                                            <input type="hidden" name="Text" value="@cheep.Text" />
                                            <input type="hidden" name="TimeStamp" value="@cheep.TimeStamp" />
                                            <input type="hidden" name="Likes" value="@cheep.Likes" />
                                            <button class="like-button-not-liked">
                                                <span class="heart">&#x2764;</span>
                                            </button>
                                        </form>
                                    }
                                    <span>@Model.Likes</span>
                                </div>
                            }
                        }
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

</div>
}
