@page "/"
@using Chirp.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var userName = User.FindFirst("Name")?.Value ?? "User";
    @inject SignInManager<Author> SignInManager
}

<div>
    <h2> Public Timeline </h2>
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="cheepbox">
            <h3>What's on your mind @userName?</h3>
            <form method="post">
                <input style="float: left" type="text" asp-for="Text" maxlength="160">
                <input type="submit" value="Share">
            </form>
        </div>
    }

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <div>
                            <strong>
                                <a href="/@cheep.Author">@cheep.Author</a>
                            </strong>
                                @if (Model.followedAuthors.Any(a => a.Name == cheep.Author))
                                {
                                    <form method="Post" asp-page-handler="Unfollow" asp-route-followAuthorName="@cheep.Author" style="display:inline;">
                                        <button type="submit">Unfollow</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="Post" asp-page-handler="Follow" asp-route-followAuthorName="@cheep.Author" style="display:inline;">
                                        <button type="submit">Follow</button>
                                    </form>
                                }
                        </div>
                        @cheep.Text
                        <br/>
                        <small>&mdash; @cheep.TimeStamp</small>
                        
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
