@page "/{author}"
@using Chirp.Core
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Routing
@model Chirp.Web.Pages.UserTimelineModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var AuthorName = User.FindFirst("Name")?.Value ?? "User";
    var userName = HttpContext.GetRouteValue("author");
    @inject SignInManager<Author> SignInManager
}

<div>
    @if (AuthorName == userName?.ToString())
    {
    <div class="cheepbox">
        <h3>What's on your mind @userName?</h3>
        <form method="post">
            <input style="float: left" type="text" asp-for="Text" maxlength="160" oninput="updateCharCount()">
            <span id="charCount" style="position: absolute; bottom: 10px; right: 10px; font-size: 0.85rem; color: gray;">0/160</span>
            <input style="float: left; vertical-align: top; height: fit-content; padding: 10px; font-size: 1rem;" type="submit" value="Share">
        </form>
    </div> 
    }

    <h2> @userName's Timeline </h2>

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <div>
                            <strong>
                                <a href="/@cheep.AuthorDTO">@cheep.AuthorDTO</a>
                            </strong>
                            @if (SignInManager.IsSignedIn(User) && AuthorName != @cheep.AuthorDTO)
                            {
                                @if (Model.followedAuthors.Any(a => a.Name == cheep.AuthorDTO))
                                {
                                    <form method="Post" asp-page-handler="Unfollow" asp-route-followAuthorName="@cheep.AuthorDTO" style="display:inline;">
                                        <button type="submit" style="padding: 2px; padding-left: 10px; padding-right: 10px; border-radius: 3px;">Unfollow</button>
                                    </form>
                                }
                                else
                                {
                                    <form method="Post" asp-page-handler="Follow" asp-route-followAuthorName="@cheep.AuthorDTO" style="display:inline;">
                                        <button type="submit" style="padding: 2px; padding-left: 10px; padding-right: 10px; border-radius: 3px;">Follow</button>
                                    </form>
                                }
                            }
                        </div>
                        @cheep.Text
                        <br/>
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
        
        <div class="pagination">
            @if (Model.PageNumber > 1)
            {
                <a href="?page=@(Model.PageNumber - 1)" class="previous">Previous</a>
            }

            <span>Page @Model.PageNumber</span>
            
            @if (Model.Cheeps.Count == Model.PageSize)
            {
                <a href="?page=@(Model.PageNumber + 1)" class="next">Next</a>
            }
        </div>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>